---
# Only the main Sass file needs front matter (the dashes are enough)
---
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTaOCaDZZVv73zpFSwE4Va2k.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTVMBBrntOh5tSEdJ1aeglyY.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/K88pR3goAWT7BTt32Z01m5Bw1xU1rKptJj_0jans920.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v10/K88pR3goAWT7BTt32Z01m7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzKOCaDZZVv73zpFSwE4Va2k.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzFMBBrntOh5tSEdJ1aeglyY.woff) format('woff');
}

$red-trans: rgba(60, 0, 0, 0.5);
$red: #600;
$black: black;
$black-trans: rgba(0, 0, 0, 0.5);

@mixin link-selected($bg-col: white, $col: $black) {
  &.selected {
    background-color: $bg-col;
    color: $col;
    text-decoration: none;
  }
}

@mixin menu-links-center($m: 1em) {
  text-align: center;
  & > a { margin-right: $m }
  & > a:last-child { margin-right: 0 }
}

body {
  color: #eee;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;

  overflow-y: scroll;
  background-color: black;
  background: url(/img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1, h2 { font-weight: 400 }

a { color: #eee }
a:hover { color: #aaa }
.bg { background-color: rgba(0,0,0,0.8) }
.hidden { display: none }
.sidebar {}

ul {
  li { margin-bottom: 0.5em }
  li:last-child { margin-bottom: default }
}

#left-bar > h2, h3, p {
  padding: 0 1em;
}

#header > section {
  background-size: 100% auto;
  color: white;
  font-size: 18px;
  & > h1 {
    text-align: center;
    margin: 0;
  }

  & > section.links {
    text-align: center;
    & > a {
      margin-right: 1em;
      &:last-child { margin-right: 0 }
    }
  }

  & > p {
    margin-top: 1em;
  }

  & > nav {
    font-size: 24px;
    @include menu-links-center(0.5em);
    padding: 1em 0 1em 0;
    & > a {
      padding: 0 0.2em;
      @include link-selected;
    }
  }
}

#support-banner {
  background-color: $red-trans;
  padding: 0.5em 0 0 0;
  a.become-patron {
    color: white;
    background-color: rgb(249, 104, 84);
    &:hover {
      color: white;
      background-color: rgb(249, 104, 84) * 1.15;
    }
    text-decoration: none;
    line-height: 1.5em;
    padding: 0.5em 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    & > svg {
      height: 0.8em;
      width: auto;
      display: inline-block;
      vertical-align: middle;
      line-height: 1.5em;
      g circle { fill: white }
    }
    & > span {
      font-family: "America", "GT America", "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle;
      line-height: 1.5em;
      margin-left: 0.5em
    }
  }
}

#content { padding-bottom: 1em }

#player { background-color: black; }

#episode-filter {
  padding-top: 1.25em;
  font-size: 1.2em;
  @include menu-links-center(0.5em);
  & > * {
    padding: 0 0.25em;
    margin: 0;
  }
  a {
    @include link-selected(white, $black);
    &[data-show=episode] {
      background-color: $red-trans;
      @include link-selected($red, white);
    }
  }
}

#episodes {
  padding: 1.25em 1em;
  & > a.episode {
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 0.25em;
    line-height: 1.5em;
    &.red { background-color: $red-trans }
    margin-right: 0.5em;
    &:last-child { margin-right: 0 }

  }
  & > a.episode.selected {
    background-color: white;
    color: black;
    text-decoration: none;
    &.red {
      background-color: $red;
      color: white;
    }
  }
  & > span.space { padding: 0.5em}
}

#content section.release {
  & > .release-cover img {
    width: 100%;
  }
  & > .release-info {
    padding-left: 1em;
    h2 {
      font-size: 1.25em;
      margin-top: 0;
    }
    & > .links {
      vertical-align: bottom;
      & > * { margin-right: 2em }
      & > *:last-child { margin-right: 0 }
      & > .dl-flac { cursor: default }
    }
  }
}

#footer {
  padding: 1em 0 0.5em 0;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 64em) {
  #header > section > h1 { padding-top: 0.75em }
  #left-bar > * { display: none }
}

@media screen and (max-width: 38em) {
  #content > section.release {
  }
}

