---
---
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vykhod Sily</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<header id="header" class="pure-g">
    {% include header.html %}
</header>
<section>
    <section class="sidebar pure-u-1 pure-u-md-6-24">
        {% include bar_left.html %}
    </section>
    <section class="pure-u-1 pure-u-md-12-24">
    <hr/ style="margin-top: 0; ">
    <br/>
    <!-- CONTENT -->

    <section class="episode">
        <h2><a href="#">Episode 001</a></h2>
        <iframe scrolling="no" id="hearthis_at_track_178857" width="100%" height="145" src="https://hearthis.at/embed/178857/transparent/?hcolor=000000&color=ffffff&style=1&block_size=2&block_space=1&background=0&waveform=0&cover=0&autoplay=0" frameborder="0" allowtransparency></iframe>
    </section>

    <!-- END CONTENT -->
    </section>
    <section class="sidebar pure-u-1 pure-u-md-6-24"></div>
</section>
<footer>

</footer>
<!--<script type="text/javascript" src="/js/jquery.min.js"></script>-->
</body>
</html>