---
---
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vykhod Sily</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<header id="header" class="pure-g">
    {% include header.html %}
</header>
<section class="pure-g">
    <section class="sidebar pure-u-1 pure-u-md-6-24">
        {% include bar_left.html %}
    </section>
    <section class="bg pure-u-1 pure-u-md-12-24">

        <!-- CONTENT -->
        <section id="content">
            {% include list_podcasts.html %}
        </section>
        <!-- END CONTENT -->

    </section>
    <section class="sidebar pure-u-1 pure-u-md-5-24">
        {% include bar_right.html %}
    </section>
</section>

<section id="contact" class="pure-g">
    <section class="sidebar pure-u-1 pure-u-md-6-24"></section>
    <section class="sidebar pure-u-1 pure-u-md-12-24 bg" style="padding: 0 1em; margin-top: 1em;">
        <h2>Contact</h2>
        <p>If you make tunes as a producer or record mixes which musically fit my project feel free to <a
                href="https://script.google.com/macros/s/AKfycbx5jzyRy3A-1M7vY4yNLJcHBLcfy6E7t1HHizi46QK1qpCq2fk/exec"
                target="_blank">drop</a> what you got to be heard either as a guest DJ or as
                a musician whose tunes I’m pushing through my podcast.</p>
    </section>
    <section class="sidebar pure-u-1 pure-u-md-5-24"></section>
</section>
<footer>

</footer>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
