<div class="pure-g">
    <div id="facebook">
        <div class="pure-u-md-23-24">
            <div class="fb-page" data-href="https://www.facebook.com/pages/Vykhod-Sily-Podcast/1569050883368573"
                 data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/pages/Vykhod-Sily-Podcast/1569050883368573"><a
                            href="https://www.facebook.com/pages/Vykhod-Sily-Podcast/1569050883368573">Vykhod Sily
                        Podcast</a></blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

