<div class="pure-u-1 pure-u-md-6-24"></div>
<section class="bg pure-u-1 pure-u-md-12-24">
    <br/>

    <h1>Podcast “Vykhod Sily”</h1>

    <span>
        <a class="icon hearthis" title="Hearthis" href="https://hearthis.at/vykhodsily/" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a class="icon mixcloud" title="Mixcloud" href="https://www.mixcloud.com/SpecialRequest/" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a class="icon soundcloud" title="SoundCloud" href="http://soundcloud.com/vykhod_sily/" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </span>

    <p>“Vykhod Sily” (or “The Way The Force Is Coming Through” in English) is a podcast launched
        by Rustee (Special Request Crew) back in 2013 to push 85/170 BPM things further as being
        heavily influenced by Autonomic movement and things related. In the course of time the
        podcast has become probably one &amp; only in Russia focusing on halftempo. The musical
        agenda represented in the podcast has been constantly reinforced both with the various
        subgenres of modern 170 BPM electronica and with an oldschool influence. Aired every
        Thursday at&nbsp;<span id="podcast-airtime">10pm (UTC+5)</span>
        on the <a target="_blank" href="http://radio.dropthebass.ru">DROPTHEBASS radio</a>.</p>
    <nav>
        <a href="#contact">Contact</a>
    </nav>
</section>
<div class="pure-u-1 pure-u-md-6-24">
</div>




