<div class="pure-u-1 pure-u-md-6-24"></div>
<section class="bg pure-u-1 pure-u-md-12-24">
    <br/>

    <h1>Podcast “Vykhod Sily”</h1>

    <span id="social-buttons">
        <a class="icon mixlr" title="Mixlr" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a class="icon hearthis" title="Hearthis" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a class="icon mixcloud" title="Mixcloud" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a class="icon soundcloud" title="SoundCloud" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </span>

    <p>“Vykhod Sily” (or something like “Force Output” in English) - tribal, ethno, dubby deep halftempo sounds of
        today electronic music within the 85/170 BPM range represented by Rustee (Special Request Crew). An onward
        intensive movement into the depths of massive and heavy halfstep sound which normally takes one hour every
        week
        at djstation.ru and Mixlr on Thursdays (22:00 UTC +5).</p>
    <nav>
        <a href="#">Main</a>
        <a href="#">Contact</a>
    </nav>
</section>
<div class="pure-u-1 pure-u-md-6-24">
</div>




