{% if page.title == "Podcast" %}
  {% assign sel_podcast = "selected" %}
{% elsif page.title == "Releases" %}
  {% assign sel_releases = "selected" %}
{% elsif page.title == "Patrons" %}
  {% assign sel_patrons = "selected" %}
{% elsif page.title == "About" %}
  {% assign sel_about = "selected" %}
{% endif %}
<div class="pure-u-1
            pure-u-md-2-24
            pure-u-lg-6-24">
</div>
<section class="bg pure-u-1
                pure-u-md-20-24
                pure-u-lg-12-24">

    <h1>Vykhod Sily/Выход Силы</h1>

    <section class="links">
        <a title="Hearthis" href="https://hearthis.at/vykhodsily/"
          target="_blank">HearThis</a>
        <a title="Facebook" href="https://www.facebook.com/vykhodsily/"
          target="_blank">Facebook</a>
        <a title="SoundCloud" href="http://soundcloud.com/vykhod_sily/"
          target="_blank">SoundCloud</a>
        <!--
        <br>
        <strong><a title="Patreon" href="https://patreon.com/vykhodsily_podcast/"
                   target="_blank">Support the label on Patreon!</a></h5></strong>
        -->
    </section>

    <p>Approach &amp; identify. You’re at the homepage of Vykhod Sily/Выход
    Силы, a community-supported recording label and a 85/170BPM podcast run by
    Rustee. Our digital releases and all the podcast episodes can be found here.
    All deep, dark &amp; heavy. We keep it going really hard so hold tight and
    have a deep trip with Vykhod Sily/Выход Силы.</p>

    <nav>
        <a href="/" class="{{ sel_podcast }}">Podcast</a>
        <a href="/releases" class="{{ sel_releases }}">Releases</a>
        <a href="/patrons" class="{{ sel_patrons }}">Patrons</a>
        <a href="/about" class="{{ sel_about }}">About</a>
    </nav>
</section>
<div class="pure-u-1
            pure-u-md-2-24
            pure-u-lg-5-24">
</div>

