{% for p in site.data.podcasts %}
<section class="episode">
    {% if p.guest %}
        <h2><a href="#">Guest: {{p.guest}}</a></h2>
    {% elsif p.episode %}
        <h2><a href="#">Episode: {{p.episode}}</a></h2>
    {% elsif p.special %}
        <h2><a href="#">Special: {{<p class="special"></p>}}</a></h2>
    {% elsif p.custom %}
        <h2><a href="#">{{p.custom}}</a></h2>
    {%endif %}
    <div class="episode-content">
        {% if p.hearthis_id %}
            <section class="player" data-player-type="hearthis"
                data-hearthisid="{{p.hearthis_id | replace: 'https://hearthis.at/', '' | replace: '/', ''}}">
        {% else %}
            <section class="player" data-player-type="embed" data-embed="{{p.embed | escape}}">
        {% endif %}
        </section>
        <section class="tracklist">
            {% if p.tracklist %}
                <h3>Tracklist:</h3>
                <ol>
                    {% for t in p.tracklist %}
                        <li>{{t}}</li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>Tracklist is not available.</p>
            {% endif %}
        </section>
    </div>


</section>
{% endfor %}
