{% for p in site.data.podcasts %}

    {% assign e_type = "unknown" %}
    {% assign e_data = "unknown" %}
    {% if p.guest %}
        {% assign e_type = "guest" %}
        {% assign e_data = p.guest %}
        {% assign e_text = p.guest | replace: ' ', '&nbsp;' %}
    {% elsif p.episode %}
        {% assign e_type = "episode" %}
        {% assign e_data = p.episode %}
        {% assign e_text = p.episode | replace: ' ', '&nbsp;' %}
    {% elsif p.live %}
        {% assign e_type = "live" %}
        {% assign e_data = p.live %}
        {% assign e_text = p.live | replace: ' ', '&nbsp;' %}
    {% elsif p.special %}
        {% assign e_type = "special" %}
        {% assign e_data = p.special %}
        {% assign e_text = p.special | replace: ' ', '&nbsp;' %}
    {% elsif p.subchannel %}
        {% assign e_type = "subchannel" %}
        {% assign e_data = p.subchannel %}
        {% assign e_text = p.subchannel | replace: ' ', '&nbsp;' %}
    {% endif %}
    <a  href="#" class="episode"
        {% if p.hearthis %}
            data-player-type="hearthis"
            data-player-data="{{p.hearthis | replace: 'https://hearthis.at/', '' | replace: '/', ''}}"
        {% elsif p.mixcloud %}
            data-player-type="mixcloud"
            data-player-data="{{p.mixcloud | escape}}"
        {% endif %}
            data-episode-type="{{ e_type }}"
            data-episode-data="{{ e_data }}">{{ e_text }}</a>

{% endfor %}
