{% for p in site.data.podcasts %}
<section class="episode">
    {% if p.guest %}
        <h2><a href="#">Guest: {{p.guest}}</a></h2>
    {% else %}
        <h2><a href="#">Episode {{p.episode}}</a></h2>
    {%endif %}
    <div class="episode-content">
        {% if p.hearthis_id %}
            <section class="hearthis-player" data-hearthisid="{{p.hearthis_id}}">
        {% else %}
            <section class="mixcloud-player" data-mixcloud-uuid="{{p.mixcloud_uuid}}" data-mixcloud-feed="{{p.mixcloud_feed}}">
        {% endif %}
        </section>
        <section class="tracklist">
            {% if p.tracklist %}
                <h3>Tracklist:</h3>
                <ol>
                    {% for t in p.tracklist %}
                        <li>{{t}}</li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>Tracklist is not available.</p>
            {% endif %}
        </section>
    </div>


</section>
{% endfor %}
