<!doctype html> <html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }} —  Vykhod Sily</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/grids-responsive-min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
</head>
<body class="tokamak">
<header id="header" class="pure-g">
    {% include header.html %}
</header>
<section class="pure-g">
    <section id="left-bar" class="bg sidebar pure-u-1
                                  pure-u-md-2-24
                                  pure-u-lg-6-24">
    </section>
    <section id="content" class="bg pure-u-1
                                 pure-u-md-20-24
                                 pure-u-lg-12-24">
        <section id="support-banner">
          <p>Join us on <a
            href="patreon.com/vykhodsily_podcast">patreon.com/vykhodsily_podcast</a>
          and support the Vykhod Sily project to make the next release happen
          sooner!</p>
        </section>

        {{ content }}
    </section>
</section>

<footer class="pure-g">
    <div class="pure-u-1
              pure-u-md-2-24
              pure-u-lg-6-24">
    </div>
    <section id="footer" class="bg pure-u-1
                    pure-u-md-20-24
                    pure-u-lg-12-24">
        2013&minus;2017 &copy; Vykhod Sily. All rights reserved.</section>
</footer>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56545218-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
